<table border="1">

  <tr>
    <th>利用者名</th> <th>薬の有無</th> <th>備考（薬の変更等）</th>
  </tr>

  <tr>
    <td><input type="text" size="45" maxlength="50" name="reserve1" value=""></td>
    <td><input type="text" size="45" maxlength="50" name="reserve2" value=""></td>
    <td><input type="text" size="45" maxlength="50" name="reserve3" value=""></td>
  </tr>

  <tr>
    <td><input type="text" size="45" maxlength="50" name="reserve4" value=""></td>
    <td><input type="text" size="45" maxlength="50" name="reserve5" value=""></td>
    <td><input type="text" size="45" maxlength="50" name="reserve6" value=""></td>
  </tr>

  <tr>
    <td><input type="text" size="45" maxlength="50" name="reserve7" value=""></td>
    <td><input type="text" size="45" maxlength="50" name="reserve8" value=""></td>
    <td><input type="text" size="45" maxlength="50" name="reserve9" value=""></td>
  </tr>
</table>
<div class="reload-btn">
    <input class='reload-red-btn' type="submit" value="更新する">
</div>
<%# <%= f.submit "更新" ,class:"reload-red-btn" %>