table{
  width: 100%;
}

/* th{
  height: 70%;
}  */

td{
  height: 30px;
}

.reload-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}
